body {
  background-color: #e6f2ff;
}

h1 {
  margin-top: 3em;
}

.avatar {
  float: center;
  width: 30%;
}

img {
  width: 3em;
}

.btn {
  margin: .5em;
}

.sortable {
  margin: auto;
  margin-top: 15px;
}

input {
  width: 50%;
}

#tabela {
  width: 60%;
}

table th {
  cursor: pointer;
}

table, 
th , 
td  {
  margin-top: 40px;
  border: 2px solid grey;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

table tr:nth-child(odd) {
  background-color: #99ccff;
}

table tr:nth-child(even) {
  background-color: #fff;
}