body {
  background-color: #e6f2ff;
}

h1 {
  padding-bottom: 50px;
  margin-top: 3em;
}

.navbar-nav {
  float: right;
}

.avatar {
  float: center;
  width: 30%;
}

img {
  width: 3em;
}

.btn {
  margin: .5em;
}

#showList {
  width: 40%;
  margin: auto;
}

.sortable {
  margin: auto;
  margin-top: 15px;
}

input {
  width: 50%;
}


table th {
  cursor: pointer;
}

table {
  border: 1px solid grey;
}

table, 
th , 
td  {
  margin-top: 40px;
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
}

table th {
  color: #fff;
  background-color: #0066ff;
}

table tr:nth-child(odd) {
  background-color: #99ccff;
}

table tr:nth-child(even) {
  background-color: #fff;
}

footer {
  color: #808080;
  margin-top: 150px;
  text-align: center;
  line-height: 2em;
}